.about-panel{
    background-color: #C0C0C0;
    width : 1500px;
    height : 700px;
    position: absolute;
    top : 25%;
    right : 25%;
    transform: translate(-50%, -50%);
    z-index : 999;
    border-top: #fff solid 3px;
    border-left: #fff solid 3px;
    border-bottom: #000000 solid 3px;
    border-right: #000000 solid 3px;
    border-right-color: #000000 solid 3px;
    position: fixed;
    touch-action: none; 
}

.about-panel.react-draggable-dragging{

    cursor: grabbing;
    z-index: 99;
}

.bar-top-about{
    background-color: #02007F;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    cursor: grab;
    height: 40px;
}

.bar-top-about:active {
    cursor: grabbing;
}

.left-top-bar{
    display: flex;
    align-items: center;
    gap: 8px;
}

.man{
    width:44px;
    height: 38.28px;
    margin-left: 10px;
    margin-right: 10px;
}

.body-about{
    text-indent: 3rem;
    line-height: 155%;
    font-size: 1.4rem;

}
.title{

    text-align: center;
}

.window-group{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.para-about{
    margin : 70px;
}
