.box23 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #D3CCBA;
}

.on-button {

    position: fixed;
    bottom: 100px;
    left  :100px;
    scale : 1.4;
    background-color: aquamarine;



}