*{
    box-sizing:border-box;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 32px;
    height: 32px;
    background-color: #C0C0C0;
    border-left: #fff solid 3px;
    border-left: #fff solid 3px;
    border-top: #fff solid 3px;
    border-bottom: #000000 solid 3px;
    border-right: #000000 solid 3px;
    


}

.minimize-bar{
    width: 18px;
    height: 0;
    border-top: 4.5px solid #000;
    transform: translateY(4px);
}
